body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: #FF3685;;
}
h3{
    color: #4d14ad;
}
p{
    color: dimgray;
}
.name-highlight{
    color: #FF3685;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/topBanner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #ec8cb2,#FF2D80);
    padding: 10px 20px;
}
.dream-area{
    background-image: url("images/dreamBackground.png");
    background-repeat: no-repeat;
    background-position: right;
}